/* GoT Bingo Style Sheet*/
head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

[src="images/AGoTBanner.jpg"] {
  top: 0px;
  left: 0px;
  right: 0px;
}

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 20px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 20px;
  float: left;
  border-radius: 9px;
  background: rgba(238, 228, 218, 1.0); }
  .grid-cell:last-child {
    margin-right: 0; 
}

.list-container {
  position: absolute;
  top: 50px;
  right: 50px;
}

.list-row {
  margin-bottom: 20px; }
  .list-row:last-child {
    margin-bottom: 0; }
  .list-row:after {
    content: "";
    display: block;
    clear: both; }


.list-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 20px;
  float: left;
  border-radius: 6px;
  background: rgba(238, 228, 218, 1.0); }
  .list-cell:last-child {
    margin-right: 0; }
  .list-cell:active {
  background-color:  rgba(238, 228, 218, 0.5);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  
  
[draggable=true] {
    cursor: move;
}