/* GoT Bingo Style Sheet*/
head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

[src="images/AGoTBanner.jpg"] {
  top: 0px;
  left: 0px;
  right: 0px;
}

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 10px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 10px;
  float: left;
  border-radius: 9px;
  background: rgba(238, 228, 218, 1.0); }
  .grid-cell:last-child {
    margin-right: 0; 
}
/*div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
*/
.list-container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 300px;
  overflow: auto;
}

.list-row {
  margin-bottom: 10px; }
  .list-row:last-child {
    margin-bottom: 0; }
  .list-row:after {
    content: "";
    display: block;
    clear: both; }


.list-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 20px;
  float: left;
  border-radius: 9px;
  background: rgba(238, 228, 218, 1.0); }
  .list-cell:last-child {
    margin-right: 0;
}
  
[draggable=true] {
    cursor: move;
}