/* GoT Bingo Style Sheet*/
head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

[src="images/AGoTBanner.jpg"] {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
}

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 10px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  position: relative;
  width: 106.25px;
  height: 106.25px;
  margin-right: 10px;
  float: left;
  border-radius: 9px;
  background: rgba(238, 228, 218, 1.0); }
  .grid-cell:last-child {
    margin-right: 0; 
}

.char_img {
  opacity: 1;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 9px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.char_name {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.grid-cell:hover .char_img {
  opacity: 0.3;
}

.grid-cell:hover .char_name {
  opacity: 1;
}

.list-container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 700px;
  overflow: auto;
}

.list-row {
  margin-bottom: 10px; }
  .list-row:last-child {
    margin-bottom: 0; }
  .list-row:after {
    content: "";
    display: block;
    clear: both; }


.list-cell {
  position: relative;
  width: 106.25px;
  height: 106.25px;
  margin-right: 20px;
  float: left;
  border-radius: 9px;
  background: rgba(238, 228, 218, 1.0); }
  .list-cell:last-child {
    margin-right: 0;
}

.list-cell:hover .char_img {
  opacity: 0.3;
}

.list-cell:hover .char_name {
  opacity: 1;
}

[draggable=true] {
    cursor: move;
}

